{% extends 'base.html' %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow">
            <div class="card-header bg-success text-white">
                <h4 class="card-title mb-0 text-center">Пароль успешно изменен</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-success">
                    <h5 class="alert-heading">Готово!</h5>
                    <p class="mb-0">
                        Ваш пароль был успешно изменен. Теперь вы можете войти в систему с новым паролем.
                    </p>
                </div>
                <div class="d-grid">
                    <a href="{% url 'students:login' %}" class="btn btn-primary">Войти в систему</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




